<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title text-primary">Cliente</h3>
      <form [formGroup]="formCustomer">
        <div class="row">
          <div class="col-md-4 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Seleccione una opción</mat-label>
              <mat-select formControlName="documentType">
                <mat-option value="C">Cédula de Ciudadanía</mat-option>
                <mat-option value="P">Pasaporte</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="formCustomer.get('documentType')?.invalid && (formCustomer.get('documentType')?.dirty || formCustomer.get('documentType')?.touched)" class="text-danger">Este campo es obligatorio</div>
          </div>

          <div class="col-md-4 mb-3"> 
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Ingrese número de documento</mat-label>
              <input matInput type="text" formControlName="documentNumber">
            </mat-form-field>
            <div *ngIf="formCustomer.get('documentNumber')?.invalid && (formCustomer.get('documentNumber')?.dirty || formCustomer.get('documentNumber')?.touched)" class="text-danger">Este campo es obligatorio</div>
          </div>

          <div class="col-md-4">
            <button mat-raised-button color="primary" class="btn-sm" (click)="showCustomer()">Buscar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Sección de Tabla -->
  <div class="card mt-4" *ngIf="showTable">
    <div class="card-body">
      <mat-table [dataSource]="dataSource" class="table">
        <!-- Columnas -->
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef>
            {{ translateColumnName(column) }}
          </th>
          <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
        </ng-container>

        <!-- Filas -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </mat-table>
    </div>
  </div>
</div>
